<mat-toolbar color="primary">
  <button *ngIf="sideNavProvider.needHamburger | async" mat-icon-button (click)="sideNavProvider.toggle()"><mat-icon>menu</mat-icon></button>
  <span>Dashboard</span>
</mat-toolbar>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>
<p>
  dashboard works2!
</p>


