<div style="height: 100%">
  <mat-sidenav-container style="height: 100%">
      <!--<mat-sidenav #sidenav [mode]="sideNavMode" [opened]="sideNavProvider.sideNavOpen | async">-->
      <mat-sidenav #sidenav>
          <mat-toolbar color="primary">
              <button mat-icon-button><mat-icon>home</mat-icon></button>
              <span>Lizenzverwaltung</span>
          </mat-toolbar>
          <ul>
            <!-- <li><a md-button (click)="doNavigate()" routerLink={{dashboardPath}}><md-icon>dashboard</md-icon>Dashboard</a></li>-->
             <li><a mat-button><mat-icon>dashboard</mat-icon>dashboard</a></li>
             <li><a mat-button><mat-icon>face</mat-icon>Kunden</a></li>
             <li><a mat-button><mat-icon>copyright</mat-icon>Lizenzen</a></li>
             <li><hr /></li>
             <li><a mat-button ><mat-icon>info_outline</mat-icon>{{version}}</a></li>
         </ul>

        </mat-sidenav>
          
             
      <router-outlet></router-outlet>
      <button type="button" mat-button (click)="sidenav.open()">
        Open sidenav
      </button>   
  </mat-sidenav-container>
  </div>
  