<div style="height: 100%">
  <mat-sidenav-container >
      <mat-sidenav #sidenav [mode]="sideNavMode"  [opened]="sideNavProvider.sideNavOpen | async">
          <mat-toolbar color="primary">
              <button mat-icon-button><mat-icon>home</mat-icon></button>
              <span>Lizenzverwaltung</span>
          </mat-toolbar>
          <ul>
             <li><a mat-button (click)="doNavigate()" routerLink={{dashboardPath}}><mat-icon>dashboard</mat-icon>Dashboard2</a></li>
             <li><a mat-button (click)="doNavigate()" routerLink={{testDataPath}}><mat-icon>settings</mat-icon>Settings2</a></li>
             <li><a mat-button (click)="doNavigate()" routerLink={{settingsPath}}><mat-icon>settings</mat-icon>Settings2</a></li>
             <li><a mat-button (click)="doNavigate()"><mat-icon>copyright</mat-icon></a></li>
             <li><hr /></li>
             <li><a mat-button (click)="doNavigate()" ><mat-icon>info_outline</mat-icon>{{version}}</a></li>
         </ul>

        </mat-sidenav>
          
             
      <router-outlet></router-outlet>
      <button type="button" mat-button (click)="sidenav.open()">
        Open sidenav
      </button>   
  </mat-sidenav-container>
  </div>
  