<mat-toolbar color="primary">
  <button *ngIf="sideNavProvider.needHamburger | async" mat-icon-button (click)="sideNavProvider.toggle()"><mat-icon>menu</mat-icon></button>
  <span>Settings</span>
</mat-toolbar>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
<p>
  settings works!
</p>
